name: test
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print step
        run: | 
          echo "Hello World! 1"
          echo "Hello World! 2"
      - name: Code
        uses: actions/checkout@v3
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm i
      - name: Test
        run: npm run test